{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
	<div id="page-content">
		<div id="content-full">
		<!-- ********************************************************************* -->
		<!--                        Wide Main Content Section                      -->
		<!-- ********************************************************************* -->
		<section>
			<article>
				<header>
                    <h1>{{this.title}}</h1>
				</header>
				<!--iframe style="width:100%;height:800px;" src="https://www.google.com/calendar/embed?src=usa__en@holiday.calendar.google.com">
				</iframe-->
                {{ this.body }}
			</article>
		</section>		

		</div>
 	</div>
{% endblock %}
